/* Your code here */
.business-name {
  border: solid;
  font-size: 40px;
  color: #131212;
}


.card-1 {
  background-image: url(BACKGROUND.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ul.left {
  text-align: left;
}

.card-2 {
  background-image: url(BACKGROUND.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: small;
}

.card-2 ul {
padding-top:30px; /* Adjust bottom padding */
}
.card-2 {
    text-align: center;
    gap: 2pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: #1c1b18;
   

}

  